.movie-preview {
   padding: 40px 100px;
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.movie-list {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
   gap: 100px;
   padding: 0;
   list-style: none;
}

.title-section {
   display: flex;
   flex-direction: column;
   gap: 5px;

   h1 {
      color: #fff;
   }

   .bar {
      background-color: #fff;
      height: 7px;
      width: 100px;
      border-radius: 17px;
   }
}



