.movie-preview {
   padding: 40px 100px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.movie-list {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
   gap: 100px;
   padding: 0;
   list-style: none;
}

.title-section {
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding-left: 60px;

   h1 {
      color: #fff;
   }

   .bar {
      background-color: #fff;
      height: 7px;
      width: 100px;
      border-radius: 17px;
   }
}

.mySwiper {
  padding: 45px 60px;
}

.mySwiper .swiper-pagination {
  bottom: 0;
  z-index: 20;
}

.swiper-pagination-bullet {
  background-color: #a1a1a1;
  opacity: 1; 
  height: 10px;
  width: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}
