.movie-card {
   width: 180px;
   display: flex;
   flex-direction: column;
   gap: 7px;
   color: #fff;
   transition: 0.2s;

   .movie-info {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      h1 {
         width: 100%;
         font-size: 16px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }
   }

   .movie-overview {
      font-size: 10px;
   }

   img {
      height: 270px;
      width: 100%;
      border-radius: 12px;
   }
}

.movie-card.active {
  transform: scale(1.20);
  z-index: 10;
}