.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black-08);
    padding: 12px 130px;
    height: 120px;

    .page-title {
        color: var(--white);
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 500px;
        height: 60px;
        background-color: var(--black-06);
        border-radius: 12px;
        border: 3px solid var(--black-12);
        color: var(--white);

        .active-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--black-10);
            height: 40px;
            width: 120px;
            border-radius: 10px;
            cursor: pointer;
        }

        .default-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            width: 120px;
            cursor: pointer;
        }
    }

    .search-btn {
        cursor: pointer;
    }
}